::selection{
    background-color: var(--dark-light);
    color: var(--dark);
}

.landing .row {
    background-color: #1d355796;
}
.data-table{
    background-color: var(--dark);
    color: var(--dark-light);
}
.data-table .head {
    border-color: var(--dark-light) !important;
}
.data-table .head:first-child section{
    max-height: 50px;
}
